{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">

    <!-- Single Product Thumb -->
    <div class="single_product_thumb clearfix">
        <div class="product_thumbnail_slides owl-carousel">
            {% if product.image %}
            <img src="{{product.image.url}}" alt="{{product.slug}}-image">
            {% endif %}
            {% for image in product.images.all %}
            <img src="{{image.image.url}}" alt="{{product.slug}}-image">
            {% endfor %}
        </div>
    </div>

    <!-- Single Product Description -->
    <div class="single_product_desc clearfix">
        <span>{{product.brand}}</span>
        <a href="cart.html">
            <h2>{{product.name}}</h2>
        </a>
        <p class="product-price">
            {% if product.discounted_price %}<span class="old-price"> #{{product.discounted_price}}</span>{% endif %}
            #{{product.price}}</p>
        <p class="product-desc">{{product.description}}</p>

        <!-- Form -->
        <form class="cart-form clearfix" id="add-to-cart-form" method="post">
            <!-- Select Box -->
            <div class="select-box d-flex mt-50 mb-30">
                <input type="text" name="product-slug" value="{{product.slug}}" hidden>
                <select name="size" id="productSize" class="mr-5">
                    {% for variation in product.variation.all %}
                    <option value="{{variation.size}}">Size: {{variation.size}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- Cart & Favourite Box -->
            <div class="cart-fav-box d-flex align-items-center">
                <!-- Cart -->
                {% if add_to_cart_button %}
                <button type="submit" name="addtocart" id="add-to-cart-btn" value="5" class="btn essence-btn">
                    Add to cart
                </button>
                {% else %}
                <button class="btn btn-secondary br-0" disabled>Product Variation Unavailable</button>
                {% endif %}

                <!-- Favourite -->
                <div class="product-favourite ml-4">
                    <a href="#"
                        class="favme fa fa-heart {% if product in wishlist.products.all %}active is_animating{% endif %}"></a>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- ##### Single Product Details Area End ##### -->
{% endblock content %}
{% block js %}
<script src="{% static 'js/carts-data.js' %}"></script>
<script src="{% static 'js/carts.js' %}"></script>
<script src="{% static 'js/product-detail.js' %}"></script>
{% endblock js %}